<!DOCTYPE html>
<html lang="en">
	<%- include('partials/_head.ejs', {title: 'Quotes'}) %>
	<body>
		<%- include('partials/_nav.ejs') %>

		<div class="container">
			<% if (messages.message) { %> <%- include('partials/_messages.ejs') %> <%
			} %>
			<div class="form-container">
				<div class="home-header">
					<h1>Citações</h1>
					<form action="/" method="get">
						<input type="text" name="search" placeholder="Buscar" />
						<input type="submit" value="Buscar" class="btn" />
					</form>
					<div class="order-container">
						<span>Ordenar por:</span>
						<form action="/" method="get">
							<input type="hidden" name="search" />
							<input type="hidden" name="order" value="new" />
							<button type="submit"><i class="bi bi-arrow-up"></i></button>
						</form>
						<form action="/" method="get">
							<input type="hidden" name="search" />
							<input type="hidden" name="order" value="older" />
							<button type="submit"><i class="bi bi-arrow-down"></i></button>
						</form>
						<a href="/">Limpar</a>
					</div>
				</div>
			</div>
			<div class="quotes-container">
				<% quotes.forEach(quote => { %>
				<figure>
					<blockquote><%= quote.title %></blockquote>
					<div class="info">
						<% if(quote.author) {%>
						<figcaption>Autor: <span><%= quote.author %></span></figcaption>
						<%} %>
						<figcaption>por:<span> <%= quote.User.name %></span></figcaption>
					</div>
				</figure>
				<% }) %>
			</div>
		</div>

		<%- include('partials/_footer.ejs') %>
	</body>
</html>
