<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/_head.ejs', {title: 'Dashboard'}) %>
	<body>
		<%- include('../partials/_nav.ejs') %>

		<div class="container">
			<% if (messages.message) { %> <%- include('../partials/_messages.ejs') %>
			<% } %>
			<div class="dashboard">
				<div class="title-container">
					<h2>Dashboard</h2>
					<a href="/quotes/add" class="btn">Add Citação</a>
				</div>
				<h3>Suas Citações</h3>
				<ul>
					<% quotes.map(quote => { %>
					<li>
						<div class="main">
							<span class="label"><%= quote.title %></span>
							<% if(quote.author) { %>
							<div class="author">
								<span class="label-author">Autor: </span>
								<span class="label-author"><%= quote.author %></span>
							</div>
							<% } %>
						</div>
						<span class="action">
							<a href="/" class="btn">Editar</a>
							<form action="/quotes/remove" method="post">
								<input type="hidden" name="quote_id" value="<%= quote.id %>" />
								<input type="submit" class="btn" value="Excluir" />
							</form>
						</span>
					</li>
					<% }) %>
				</ul>
			</div>
		</div>

		<%- include('../partials/_footer.ejs') %>
	</body>
</html>
